.recipe{
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgb(141, 139, 139);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:white;
    align-items: center;
    min-width: 45vw; 
}

.image{
    border-radius:50%;
    width: 100px;
    height: 100px;
}